.container-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    min-height: 100vh;
    background-color: #e6e6e6;
    
}

.titulo-lista {
    font-size: 56px;
    color: #223b5c;
    margin-bottom: 30px;
}

.card-jogos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1050px;
}
.card-jogos article {
    display: flex;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 15px;
}

.card-jogos img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.card-jogos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0;
}

.card-jogos strong {
    font-size: 22px;
    color: #223b5c;
}

.card-jogos p {
    font-size: 15px;
    color: #555;
    font-size: 16px;
    margin: 4px 0;
}

.card-jogos p.year {
    color: #000; 
    font-size: 16px;
}

.loading {
    padding: 1rem;
    font-size: 30px;
    background-color: #FFF;
    border-radius: 8px;
}

.enter-info {
    text-decoration: none;
    width: 11%;
    color: #ffffff;
    background-color: #223b5c;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.enter-info:hover {
    background-color: #1a324a;
    color: #FFF;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.droppable-container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* espaçamento entre cards */
}